# Environment variables (Berisi API Key/Secrets)
.env

# Firebase Service Account (File yang tadi terdeteksi GitHub)
firebase-service-account.json

# Binaries & Executables
*.exe
*.test

# Directories
/tmp
/vendor